---
import MainLayout from "@frontend/components/layouts/main-layout.astro";
import { getCollection } from "astro:content";

import { PostListItem } from "@frontend/features/blog/components/post-list-item";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<MainLayout title="Blog" description="ESMate Blog">
  <section class="container mx-auto py-6">
    <ul class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        posts.map((post) => (
          <PostListItem
            id={post.id}
            title={post.data.title}
            image={post.data.heroImage}
            description={post.data.description}
          />
        ))
      }
    </ul>
  </section>
</MainLayout>
