---
import BaseLayout from "@frontend/components/layouts/base-layout.astro";

import { Header } from "@frontend/components/header.tsx";

const { title, description, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} />
<main class="flex min-h-screen flex-col">
  <Header client:load />
  <slot />
</main>
