---
import BaseLayout from "@frontend/shared/components/layouts/base-layout.astro";
---

<BaseLayout>
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <slot />
  </div>
</BaseLayout>
